<div class="leftmodule">

  <% @python_blogs.each do |blog| %>
    <h2 class="typicalheader"><%= blog.header %></h2>
    <p class="timestamp"><%= blog.author_name %> | at <%= blog.created_at %></p>
    <% blog.text_body.split.each do |consider| %><% if consider == '<br/>' %><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% else %> <%= consider %><% end %><% end %>
    <hr style="color:black;"/>
  <% end %>
</div>

